#new-chat-btn {
    background-image:url("/js/1.0.0-beta2/ui/compose.png");
    background-position:11px 12px;
}

.footer {
    position: absolute;
    bottom: 0px; left: 0px; right: 0px; height: 40px;
    background-color: #efefef;
    border: 1px solid #afafaf;
    z-index: 1000;
}

#chat-arrow {
    position: absolute;
    display: block;
    right: 10px;
    top: 4px;
    bottom: 4px;
    width: 38px;
    background-image:url('arrow.png');
    background-repeat:no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

#message-text {
    position: absolute;
    height: auto; width: auto;
    font-size: 15px;
    bottom: 4px; left: 4px; top: 4px; right: 55px;
    border: 1px solid #515151;
    padding-left: 5px;
}

#scroll-div {
    max-height: 100%;
    overflow: auto;
}

.message-div {
    position: relative;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 2em;
    padding-left: 50px;
    padding-right: 1ex;
    padding-bottom: .2em;
    background-color: white;
}

.message-div + .message-div {
    border-top: none;
}

.message-sender {
    position: absolute;    
    top: 1ex;
    left: 50px;
    color: #009999;
}

.message-ctime {
    position: absolute;
    right: 1ex;
    top: 1ex;
    font-size: 90%;
    color: #aaa;
}

.message-pict-bg {
    position: absolute;
    left: 0px; top: 0px; bottom: 0px;
    width: 48px;
    background-color: #dddcde;
}

.message-pict-me, .message-pict-friend0, .message-pict-friend1, .message-pict-friend2,
.message-pict-friend3 {
    position: absolute;
    left: 4px; top: 4px;
    width: 40px; height: 40px;
    background-size: auto 85%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
    border-radius: 5px;
}
.message-pict-me {background-image:url("me.png"); background-color: #fbfdef;}
.message-pict-friend0{background-image:url("friend0.png"); background-color: #eff9fd;}
.message-pict-friend1{background-image:url("friend1.png");background-color: #f4effd;}
.message-pict-friend2{background-image:url("friend2.png"); background-color: #fdefef;}
.message-pict-friend3{background-image:url("friend3.png"); background-color: #effdf2;}

#chat-message-div {
    position: absolute;
    top: 45px; bottom: 45px; left: 0px; right: 0px;
    padding: 0px; margin: 0px;
}

#chat-messages {
    position: absolute;
    bottom: 0px; left: 0px; right: 0px;
    overflow: auto;
    max-height: 100%;
}
